@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&display=swap');

:root {
  --primary-color: #110F37;
  --secondary-color: #CC1235;
  --terciary-color: #FFFFFF;
  --bg-color-project: #D9D9D9;
  --color-nav-header: #000000;
  --bg-color-nav-header: #2F2655;
  --color-subtitle: #36345A;
  --color-aleatory: #2ca5f0;
  --color-navbar: 
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color-project);
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*LINHA AZUL E VERMELHO */
.top-bar {
  background-color: var(--bg-color-nav-header);
  height: 26px;
}

.bottom-bar {
  background-color: var(--secondary-color);
  height: 26px;
}
.nav-bar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  position: relative;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  gap: 25px;
}
.menu{display: flex;}
.menu li{padding-left: 30px;}
.menu li a{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  color: var(--color-nav-header);
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  transition: 0.8s;
}
.menu li a:hover{
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid var(--bg-color-nav-header);
  color: var(--bg-color-nav-header);
  font-weight: 800;
}
.menu li a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after{
  width: 100%;
}
.open-menu, .close-menu{
  position: absolute;
  cursor: pointer;
  display: none;
}
.open-menu{
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu{
  top: 20px;
  right: 20px;
}
#check{display: none;}

.image-section {
  display: flex;
  background: url(./assets/bgImage.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.nav-links a:hover {
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid var(--bg-color-nav-header);
  color: var(--bg-color-nav-header);
  font-weight: 800;
}


.background-image {
  width: 100%;
  height: auto;
  display: block;
}

.text-below {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 2%;
  color: var(--terciary-color);
}

.section-two {
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.titles-section-one {
  width: 595px;
  text-align: left;
}

.title-principal {
  font-family: "Koulen", sans-serif;
  color: var(--secondary-color);
  font-size: 64px;
}

.subTitle {
  font-family: "Inter", sans-serif;
  color: var(--color-subtitle);
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}

.btn-more {
  width: 146px;
  height: 48px;
  border-radius: 6px;
  border: 0px transparent;
  background-color: var(--bg-color-nav-header);
  color: var(--bg-color-project);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-more:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

.section-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom:50px;
  background-color: var(--primary-color);
  background-image: url(./assets/imageSetas.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.pictures{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pictures img {
  max-width: 400px;
  height: auto;
  transition: transform 0.3s ease;
}
.section-tree img:hover{
  transform: scale(1.09);
}

.section-four {
  height: 218px;
  text-align: center;
  background-color: var(--terciary-color);
}

.section-four img {
  margin-top: 30px;
  width: 335px;
  height: 98px;
}

.section-five {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px;
  gap: 60px;

}

.section-five img {
  transition: transform 0.3s ease;
  width: 100%;
}

.section-five img:hover {
  transform: scale(1.09);
}

details {
  font-family: "Inter", sans-serif;
  color: var(--terciary-color);
  background-color: var(--color-nav-header);
  border-radius: 6px;
  width: 90%;
  max-width: 1000px;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.3s ease;
}

details:hover,
summary:hover::after,
details[open]>summary:hover::after {
  transform: scale(1.09);
}

summary {
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  margin: 30px;
  
}

summary::after {
  content: url(./assets/btnOpen.png);
  transition: transform 0.3s ease;
}

details[open]>summary::after {
  content: url(./assets/btnClose.png);
  transition: transform 0.3s ease;
}

details p {
  font-family: "Inter", sans-serif;
  line-height: 34px;
  font-size: 16px;
  font-weight: 400;
  margin: 30px;
}

h2 {
  font-size: "koulen", sans-serif;
  font-size: 44px;
  color: var(--bg-color-project);
  margin: 50px;
  line-height: 34px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: var(--terciary-color);
}

footer {
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  padding: 120px;

a {
  display: flex;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 34px;
  color: var(--secondary-color);
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: var(--bg-color-project);
  margin: 15px 0;
}
  
.icon img{
  cursor: pointer;
  margin: 5px;
  }
}

#social a:hover{
  color: var(--color-aleatory);
  transition: 0.8s;
}

/* RESPONSIVE*/
@media (max-width: 768px) and (min-width: 320px) {
  body{
    width: fit-content;
  }
  nav {
    display: block;
    padding: 0;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin: 5px;
  }

  nav,
  .nav-links a {
    font-size: 15px;
    text-align: left;
  }

  .overlay-image {
    width: 80%;
  }

  .pictures img {
   width: 60%;
  }

  .section-two {
    margin: 0;
    flex-direction: column;
    text-align: center;
  }

  .title-principal {
    margin: 0;
    text-align: center;
  }

  .subTitle {
    text-align: justify;
  }

  .img-two {
    width: 100%;
  }

  .titles-section-one {
    font-size: 15px;
    text-align: center;
    width: 90%;
  }

  .btn-more,
  button {
    margin-bottom: 30px;
  }

  .section-four h3 {
    font-size: 15px;
  }
  .section-four img{
    width: 100%;
  }

  .section-five {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 20px;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .icon img {
    max-width: 60%;
  }
  footer{
    max-width: 100%;
    padding: 10px;
    font-size: 10%;
  }
  footer img {
    max-width: 60%;
  }
  footer a {
    font-size: 10px;
    line-height: 30px;
  }

  footer h3 {
    font-size: 20px;
  }

  footer p {
    font-size: 15px;
    margin: 10px;
  }

  summary{
    font-size: 20px;
  }

  details {
    width: 90%;
    height: 80%;
  }
  .menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    position: fixed;
    top: 0px;
    right:-100%;
    z-index: 100;
    transition: all 0.2s ease-in-out;
    background: var(--terciary-color);
}
.menu{
  padding-top: 70px;
}
.menu li{margin: 10px;}
.open-menu, .close-menu{display: block;}
#check:checked ~ .menu{right: 0;}
}
